@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --charcoal: #2C4251;
    --indian-red: #D16666;
    --yellow-green: #B6C649;
    --silver: #C1C1C1;
    --white: #FFF;
    --black: #000;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
    border-collapse: collapse;
}

.app-wrapper {
    display: flex;
}

.side-bar {
    width: 15vw;
    height: 100vh;
    background-color: var(--charcoal);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.side-bar-title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Inter', sans-serif;
    color: var(--silver);
}

.logo {
    user-select: none;
    -webkit-user-drag: none;
    width: 50px;
    filter: brightness(0) saturate(100%) invert(66%) sepia(33%) saturate(3537%) hue-rotate(317deg) brightness(90%) contrast(78%);
}

.side-bar-items {
    list-style: none;
}

.side-bar-settings {
    list-style: none;
}

.side-bar-item {
    padding: 5px;
    border-radius: 7px;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0px;
    color: var(--silver);
    user-select: none;
    
    & img {
        filter: brightness(0) saturate(100%) invert(84%) sepia(0%) saturate(0%) hue-rotate(34deg) brightness(93%) contrast(91%);
    }
    -webkit-user-drag: none;
    transition: 180ms ease-out;
}

.side-bar-item:hover {
    background-color: var(--indian-red);
    color: var(--black);
    & img {
        filter: none;
    }
}


.icon {
    width: 25px;
    user-select: none;
    -webkit-user-drag: none;
}

.main {
    width: 100%;
    font-family: 'Inter', sans-serif;
}

.main-header {
    width: 95%;
    padding: 25px 40px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-field {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search {
    width: 45vw;
    outline: none;
    padding: 7px;
    border: none;
    border-radius: 7px;
    background-color: var(--silver);
}

.profile-field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.profile-picture {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-picture:last-of-type {
    width: 70px;
    height: 70px;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.controls {
    padding: 7px 28px;
    font-family: 'Roboto', sans-serif;
    font-size: 13pt;
    border: none;
    border-radius: 7px;
    background-color: var(--yellow-green);
    font-weight: bold;
    color: var(--black);
    transition: 250ms ease-out;
}

.controls:hover {
    cursor: pointer;
    background-color: var(--charcoal);
    color: var(--white);
}

.main-content {
    background-color: var(--silver);
    width: 100%;
    height: 79.11%;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
}

